:root{
    --blbry: #355070;
    --prpl: #6d597a;
    --wine: #b56576;
    --peach: #e56b6f;
    --tan: #eaac8b; 
    font-family: caprasimo;
    background-color: var(--blbry);
    cursor: default;
}

.card{
    width: 50%;
    height: 300px;
    background-color: var(--tan);
    padding: 30px;
    margin: 10px;
    border-radius: 10px;
}

li{
    cursor: pointer;
}

#quiz-game ul li:active{
    background-color: var(--prpl);
}

section{
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: space-between;
    background-color: var(--peach);
    margin-top: 100px;
    padding: 100px 12%;
    border-radius: 10px;
    border: 5px solid var(--prpl);
}

main{
    justify-content: center;
}

header{
    width: 100vw;
    background-color: var(--blbry);
    text-align: center;
    font-size: 50px;
    padding-top: 40px;
    padding-bottom: 10px;
    color: var(--wine);
}

button{
    height: 45px;
    width: 100px;
    font-size: 25px;
    background-color: var(--peach);
    padding: 10px;
    font-family: caprasimo;
    color: var(--prpl);
    border-radius: 10px;
    cursor: pointer;
}



#quiz-game{
    background-color: var(--wine);
    color: var(--blbry);
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

li{
    background-color: var(--peach);
    margin: 5px;
    border-radius: 10px;
}

.timer{
    background-color: var(--blbry);
    text-align: center;
    border-radius: 10px;
    color: var(--wine);
    font-size: 50px;
    padding-top: 30px;
}

h3{
    margin: 20px;
}

#score-link{
    width: 300px;
    background-color: var(--peach);
    color: var(--prpl);
    height: 60px;
    font-size: 30px;
    
}


@media screen and (max-width: 504px) {
    .large-font {
      font-size: 2em;
    }
  
  
    .timer {
      height: 200px;
    }
   
  }